<!-- <h1 class="header text-C96464">我是 header</h1>
<a href="index.html">index</a>
<a href="about.html">about</a>
<a href="contact.html">contact</a> -->

<div class="header">
    <div class="container-fluid py-6 border-bottom border-3">
        <div class="container">
            <div class="row">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <img class=" img-53 me-4" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/logo.png?raw=true" alt="">
                        <h1 class="fs-32 m-0 me-12 d-md-flex d-none align-items-center">7TAO <span class="fs-16 ms-1 fw-bold">活動訂票網</span></h1>
                        <form class="d-flex border border-2 w-335">
                            <input class="form-control ps-6 py-4 fs-16" type="search" placeholder="探索活動" aria-label="Search">
                            <button class="btn btn-primary p-4" type="submit"><img src="../assets/images/search-1 1.png" alt=""></button>
                        </form>
                    </div>
                    <ul class="d-lg-flex m-0 d-none">
                        <li class="me-6">
                            <a href="./event.html" class="d-flex">
                                <div><img src="../assets/images/ui-file 1.png" alt=""></div>
                                <p class="fs-18 m-0 ms-1">REGISTER</p>
                            </a>
                        </li>
                        <li>
                            <a href="" class="d-flex">
                                <div><img src="../assets/images/ui-user 1.png" alt=""></div>
                                <p class="fs-18 m-0 ms-1">LOGIN</p>
                            </a>
                        </li>
                    </ul>
                    <nav class="navbar navbar-dark bg-bg-color d-lg-none">
                        <div class="container-fluid">
                          <button class="navbar-toggler text-primary border border-2 px-4 py-3 rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="material-symbols-outlined">
                                menu
                            </span>
                          </button>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>