<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Noto+Serif+TC:wght@700&family=Yeseva+One&display=swap" rel="stylesheet">
    <title>event</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="event mb-lg-15 mb-12">
      <div class="container">
        <div class="row">
          <div class="mt-lg-8 mt-4">
            <div class="border border-3 d-flex justify-content-between align-items-center py-lg-6 px-lg-8 py-4 px-3">
              <h2 class="fs-64 font-yeseva m-0">EVENT</h2>
              <p class="fs-32 font-serif fw-bold m-0">所有活動</p>
            </div>
          </div>
          <div class="mt-lg-8">
            <div class="d-flex mb-lg-8 mb-3 list flex-wrap">
              <p class="m-0 me-2 px-lg-6 px-4 py-1 fw-bold mb-2">演出</p>
              <p class="m-0 me-2 px-lg-6 px-4 py-1 fw-bold mb-2">音樂</p>
              <p class="m-0 me-2 px-lg-6 px-4 py-1 fw-bold mb-2">舞蹈</p>
              <p class="m-0 me-2 px-lg-6 px-4 py-1 fw-bold mb-2">戲劇</p>
              <p class="m-0 me-2 px-lg-6 px-4 py-1 fw-bold mb-2">音樂會</p>
              <p class="m-0 me-2 px-lg-6 px-4 py-1 fw-bold mb-2">課程講座</p>
              <p class="m-0 me-2 px-lg-6 px-4 py-1 fw-bold mb-2">社群活動</p>
              <p class="m-0 me-2 px-lg-6 px-4 py-1 fw-bold mb-2">展覽</p>
              <p class="m-0 me-2 px-lg-6 px-4 py-1 fw-bold mb-2">研討會</p>
              <p class="m-0 me-2 px-lg-6 px-4 py-1 fw-bold mb-2">電影</p>
              <p class="m-0 me-2 px-lg-6 px-4 py-1 fw-bold mb-2">電音派對</p>
              <p class="m-0 me-2 px-lg-6 px-4 py-1 fw-bold mb-2">遊戲競賽</p>
              <p class="m-0 me-2 px-lg-6 px-4 py-1 fw-bold mb-2">親子</p>
              <p class="m-0 me-2 px-lg-6 px-4 py-1 fw-bold mb-2">藝文活動</p>
              <p class="m-0 me-2 px-lg-6 px-4 py-1 fw-bold mb-2">運動</p>
              <p class="m-0 me-2 px-lg-6 px-4 py-1 fw-bold mb-2">交通旅遊</p>
              <p class="m-0 me-2 px-lg-6 px-4 py-1 fw-bold mb-2">美食</p>
              <p class="m-0 me-2 px-lg-6 px-4 py-1 fw-bold mb-2">資訊科技</p>
              <p class="m-0 me-2 px-lg-6 px-4 py-1 fw-bold mb-2">聯誼</p>
              <p class="m-0 me-2 px-lg-6 px-4 py-1 fw-bold mb-2">戶外</p>
              <p class="m-0 me-2 px-lg-6 px-4 py-1 fw-bold mb-2">線上活動</p>
            </div>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-lg-3">
          <div class="col mb-md-12 mb-6">
            <a class="card p-0 h-100 bg-bg-color border-0 btn">
              <h3 class="fs-48 font-yeseva border-bottom pb-lg-3 pb-2 m-0 mb-lg-3 mb-4 text-start text-nowrap">19 MAY 2023</h3>
              <img src="../assets/images/Rectangle 2.png" class="card-img-top" alt="...">
              <div class="card-body p-0 pt-3 text-start">
                <h5 class="card-title mb-lg-3 mb-2 fs-24 font-serif fw-bold">邪典電影派對——房間</h5>
                <p class="card-text mb-4">你有聽說過「大災難家」裡面的主角 Tommy Wiseau 製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
              </div>
              <div class="p-0 border-top border-bottom d-flex justify-content-between align-items-center card-footer bg-bg-color rounded-0">
                <p class="m-0 py-lg-3 py-2 d-flex align-items-center font-serif fw-bold">
                  <img src="../assets/images/sparkler 1.png" alt="">
                  社群活動
                </p>
                <p class="m-0 fw-bold">
                  開賣中
                  <img src="../assets/images/rounded-double-right 1.png" alt="">
                </p>
              </div>
            </a>
          </div>
          <div class="col mb-md-12 mb-6">
            <a class="card p-0 h-100 bg-bg-color border-0 btn">
              <h3 class="fs-48 font-yeseva border-bottom pb-lg-3 pb-2 m-0 mb-lg-3 mb-4 text-start text-nowrap">23 MAY 2023</h3>
              <img src="../assets/images/Rectangle 2(5).png" class="card-img-top" alt="...">
              <div class="card-body p-0 pt-3 text-start">
                <h5 class="card-title mb-lg-3 mb-2 fs-24 font-serif fw-bold">怪舞俱樂部</h5>
                <p class="card-text mb-4">覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...</p>
              </div>
              <div class="p-0 border-top border-bottom d-flex justify-content-between align-items-center card-footer bg-bg-color rounded-0">
                <p class="m-0 py-lg-3 py-2 d-flex align-items-center font-serif fw-bold">
                  <img src="../assets/images/sparkler 1.png" alt="">
                  演出
                </p>
                <p class="m-0 fw-bold">
                  檢視活動
                  <img src="../assets/images/rounded-double-right 1.png" alt="">
                </p>
              </div>
            </a>
          </div>
          <div class="col mb-md-12 mb-6">
            <a class="card p-0 h-100 bg-bg-color border-0 btn">
              <h3 class="fs-48 font-yeseva border-bottom pb-lg-3 pb-2 m-0 mb-lg-3 mb-4 text-start text-nowrap">30 MAY 2023</h3>
              <img src="../assets/images/Rectangle 2 (1).png" class="card-img-top" alt="...">
              <div class="card-body p-0 pt-3 text-start">
                <h5 class="card-title mb-lg-3 mb-2 fs-24 font-serif fw-bold">哈利波特馬拉松</h5>
                <p class="card-text mb-4">每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...</p>
              </div>
              <div class="p-0 border-top border-bottom d-flex justify-content-between align-items-center card-footer bg-bg-color rounded-0">
                <p class="m-0 py-lg-3 py-2 d-flex align-items-center font-serif fw-bold">
                  <img src="../assets/images/sparkler 1.png" alt="">
                  研討會
                </p>
                <p class="m-0 fw-bold">
                  開賣中
                  <img src="../assets/images/rounded-double-right 1.png" alt="">
                </p>
              </div>
            </a>
          </div>
          <div class="col mb-md-12 mb-6">
            <a class="card p-0 h-100 bg-bg-color border-0 btn">
              <h3 class="fs-48 font-yeseva border-bottom pb-lg-3 pb-2 m-0 mb-lg-3 mb-4 text-start text-nowrap">12 June 2023</h3>
              <img src="../assets/images/Rectangle 2 (2).png" class="card-img-top" alt="...">
              <div class="card-body p-0 pt-3 text-start">
                <h5 class="card-title mb-lg-3 mb-2 fs-24 font-serif fw-bold">皮卡丘排球大賽</h5>
                <p class="card-text mb-4">還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...</p>
              </div>
              <div class="p-0 border-top border-bottom d-flex justify-content-between align-items-center card-footer bg-bg-color rounded-0">
                <p class="m-0 py-lg-3 py-2 d-flex align-items-center font-serif fw-bold">
                  <img src="../assets/images/sparkler 1.png" alt="">
                  演出
                </p>
                <p class="m-0 fw-bold">
                  開賣中
                  <img src="../assets/images/rounded-double-right 1.png" alt="">
                </p>
              </div>
            </a>
          </div>
          <div class="col mb-md-12 mb-6">
            <a class="card p-0 h-100 bg-bg-color border-0 btn">
              <h3 class="fs-48 font-yeseva border-bottom pb-lg-3 pb-2 m-0 mb-lg-3 mb-4 text-start text-nowrap">25 June 2023</h3>
              <img src="../assets/images/Rectangle 2 (3).png" class="card-img-top" alt="...">
              <div class="card-body p-0 pt-3 text-start">
                <h5 class="card-title mb-lg-3 mb-2 fs-24 font-serif fw-bold">酒精路跑</h5>
                <p class="card-text mb-4">身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。
                </p>
              </div>
              <div class="p-0 border-top border-bottom d-flex justify-content-between align-items-center card-footer bg-bg-color rounded-0">
                <p class="m-0 py-lg-3 py-2 d-flex align-items-center font-serif fw-bold">
                  <img src="../assets/images/sparkler 1.png" alt="">
                  社群活動
                </p>
                <p class="m-0 fw-bold">
                  開賣中
                  <img src="../assets/images/rounded-double-right 1.png" alt="">
                </p>
              </div>
            </a>
          </div>
          <div class="col mb-md-12 mb-6">
            <a class="card p-0 h-100 bg-bg-color border-0 btn">
              <h3 class="fs-48 font-yeseva border-bottom pb-lg-3 pb-2 m-0 mb-lg-3 mb-4 text-start text-nowrap">9 July 2023</h3>
              <img src="../assets/images/Rectangle 2 (4).png" class="card-img-top" alt="...">
              <div class="card-body p-0 pt-3 text-start">
                <h5 class="card-title mb-lg-3 mb-2 fs-24 font-serif fw-bold">展覽——我的房間</h5>
                <p class="card-text mb-4">每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。</p>
              </div>
              <div class="p-0 border-top border-bottom d-flex justify-content-between align-items-center card-footer bg-bg-color rounded-0">
                <p class="m-0 py-lg-3 py-2 d-flex align-items-center font-serif fw-bold">
                  <img src="../assets/images/sparkler 1.png" alt="">
                  展覽
                </p>
                <p class="m-0 fw-bold">
                  開賣中
                  <img src="../assets/images/rounded-double-right 1.png" alt="">
                </p>
              </div>
            </a>
          </div>
          <div class="col mb-md-12 mb-6">
            <a class="card p-0 h-100 bg-bg-color border-0 btn">
              <h3 class="fs-48 font-yeseva border-bottom pb-lg-3 pb-2 m-0 mb-lg-3 mb-4 text-start text-nowrap">19 MAY 2023</h3>
              <img src="../assets/images/Rectangle 22.png" class="card-img-top" alt="...">
              <div class="card-body p-0 pt-3 text-start">
                <h5 class="card-title mb-lg-3 mb-2 fs-24 font-serif fw-bold">野營音樂祭</h5>
                <p class="card-text mb-4">喜歡山水、喜歡音樂嗎？一起在溪邊來場浪漫的沉浸式森林活動吧！結合四大戶外探索類別、超過 15 項體驗與工作坊、新興音樂人的草地演唱。</p>
              </div>
              <div class="p-0 border-top border-bottom d-flex justify-content-between align-items-center card-footer bg-bg-color rounded-0">
                <p class="m-0 py-lg-3 py-2 d-flex align-items-center font-serif fw-bold">
                  <img src="../assets/images/sparkler 1.png" alt="">
                  演出
                </p>
                <p class="m-0 fw-bold">
                  開賣中
                  <img src="../assets/images/rounded-double-right 1.png" alt="">
                </p>
              </div>
            </a>
          </div>
          <div class="col mb-md-12 mb-6">
            <a class="card p-0 h-100 bg-bg-color border-0 btn">
              <h3 class="fs-48 font-yeseva border-bottom pb-lg-3 pb-2 m-0 mb-lg-3 mb-4 text-start text-nowrap">19 MAY 2023</h3>
              <img src="../assets/images/Rectangle 22 (1).png" class="card-img-top" alt="...">
              <div class="card-body p-0 pt-3 text-start">
                <h5 class="card-title mb-lg-3 mb-2 fs-24 font-serif fw-bold">疊疊樂大賽</h5>
                <p class="card-text mb-4">來到七星潭會想到什麼呢？絕對是數也數不清的扁扁石頭吧！有這項技能卻沒有機會大展身手的你，展露頭角的機會來囉！</p>
              </div>
              <div class="p-0 border-top border-bottom d-flex justify-content-between align-items-center card-footer bg-bg-color rounded-0">
                <p class="m-0 py-lg-3 py-2 d-flex align-items-center font-serif fw-bold">
                  <img src="../assets/images/sparkler 1.png" alt="">
                  遊戲競賽
                </p>
                <p class="m-0 fw-bold">
                  開賣中
                  <img src="../assets/images/rounded-double-right 1.png" alt="">
                </p>
              </div>
            </a>
          </div>
          <div class="col mb-md-12 mb-6">
            <a class="card p-0 h-100 bg-bg-color border-0 btn">
              <h3 class="fs-48 font-yeseva border-bottom pb-lg-3 pb-2 m-0 mb-lg-3 mb-4 text-start text-nowrap">18 MAY 2023</h3>
              <img src="../assets/images/Rectangle 22 (2).png" class="card-img-top" alt="...">
              <div class="card-body p-0 pt-3 text-start">
                <h5 class="card-title mb-lg-3 mb-2 fs-24 font-serif fw-bold">18 MAY 2023</h5>
                <p class="card-text mb-4">由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！</p>
              </div>
              <div class="p-0 border-top border-bottom d-flex justify-content-between align-items-center card-footer bg-bg-color rounded-0">
                <p class="m-0 py-lg-3 py-2 d-flex align-items-center font-serif fw-bold">
                  <img src="../assets/images/sparkler 1.png" alt="">
                  聯誼
                </p>
                <p class="m-0 fw-bold">
                  開賣中
                  <img src="../assets/images/rounded-double-right 1.png" alt="">
                </p>
              </div>
            </a>
          </div>
          <div class="col mb-md-12 mb-6">
            <a class="card p-0 h-100 bg-bg-color border-0 btn">
              <h3 class="fs-48 font-yeseva border-bottom pb-lg-3 pb-2 m-0 mb-lg-3 mb-4 text-start text-nowrap">19 MAY 2023</h3>
              <img src="../assets/images/Rectangle 22 (3).png" class="card-img-top" alt="...">
              <div class="card-body p-0 pt-3 text-start">
                <h5 class="card-title mb-lg-3 mb-2 fs-24 font-serif fw-bold">野外求生17天</h5>
                <p class="card-text mb-4">野外求生體驗，我們將在沒有水、沒有電的自然環境裡，學習各項生存技能，課程內容包含生火、水源取得及淨化、射箭、木食器製作、無具野炊、野地編繩和狩獵技能...</p>
              </div>
              <div class="p-0 border-top border-bottom d-flex justify-content-between align-items-center card-footer bg-bg-color rounded-0">
                <p class="m-0 py-lg-3 py-2 d-flex align-items-center font-serif fw-bold">
                  <img src="../assets/images/sparkler 1.png" alt="">
                  戶外
                </p>
                <p class="m-0 fw-bold">
                  開賣中
                  <img src="../assets/images/rounded-double-right 1.png" alt="">
                </p>
              </div>
            </a>
          </div>
          <div class="col mb-md-12 mb-6">
            <a class="card p-0 h-100 bg-bg-color border-0 btn">
              <h3 class="fs-48 font-yeseva border-bottom pb-lg-3 pb-2 m-0 mb-lg-3 mb-4 text-start text-nowrap">19 MAY 2023</h3>
              <img src="../assets/images/Rectangle22 (4).png" class="card-img-top" alt="...">
              <div class="card-body p-0 pt-3 text-start">
                <h5 class="card-title mb-lg-3 mb-2 fs-24 font-serif fw-bold">耳熟能詳音樂祭</h5>
                <p class="card-text mb-4">對你來說聽都沒聽過的團，但是音樂一下保證跟著唱，重磅邀請各界隱藏天籟歌手、天團，不想曬太陽也可以在樹下當 KTV 跟著唱，唱不出來服務台報到立馬退費！</p>
              </div>
              <div class="p-0 border-top border-bottom d-flex justify-content-between align-items-center card-footer bg-bg-color rounded-0">
                <p class="m-0 py-lg-3 py-2 d-flex align-items-center font-serif fw-bold">
                  <img src="../assets/images/sparkler 1.png" alt="">
                  演出
                </p>
                <p class="m-0 fw-bold">
                  開賣中
                  <img src="../assets/images/rounded-double-right 1.png" alt="">
                </p>
              </div>
            </a>
          </div>
          <div class="col mb-md-12 mb-8">
            <a class="card p-0 h-100 bg-bg-color border-0 btn">
              <h3 class="fs-48 font-yeseva border-bottom pb-lg-3 pb-2 m-0 mb-lg-3 mb-4 text-start text-nowrap">19 MAY 2023</h3>
              <img src="../assets/images/Rectangle 22 (5).png" class="card-img-top" alt="...">
              <div class="card-body p-0 pt-3 text-start">
                <h5 class="card-title mb-lg-3 mb-2 fs-24 font-serif fw-bold">野營發呆大賽</h5>
                <p class="card-text mb-4">你也是那種動不動就容易放空、神遊的人嗎？這輩子靠這技能出頭的機會來了，在恆春山林一起神遊、盡情地發呆吧！冠軍可以得到價值十萬的綿豆腐床墊一張！</p>
              </div>
              <div class="p-0 border-top border-bottom d-flex justify-content-between align-items-center card-footer bg-bg-color rounded-0">
                <p class="m-0 py-lg-3 py-2 d-flex align-items-center font-serif fw-bold">
                  <img src="../assets/images/sparkler 1.png" alt="">
                  遊戲競賽
                </p>
                <p class="m-0 fw-bold">
                  開賣中
                  <img src="../assets/images/rounded-double-right 1.png" alt="">
                </p>
              </div>
            </a>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <nav aria-label="Page navigation example">
            <ul class="pagination m-0">
              <li class="page-item me-2">
                <a class="page-link bg-bg-color border rounded-0" href="#" aria-label="Previous">
                  <img src="../assets/images/arrow-left 1 (1).png" alt="">
                </a>
              </li>
              <li class="page-item me-2"><a class="page-link bg-bg-color fw-bold font-serif border rounded-0" href="#">1</a></li>
              <li class="page-item me-2"><a class="page-link bg-bg-color fw-bold font-serif border rounded-0 active" href="#">2</a></li>
              <li class="page-item me-2"><a class="page-link bg-bg-color fw-bold font-serif border rounded-0" href="#">3</a></li>
              <li class="page-item me-2"><a class="page-link bg-bg-color fw-bold font-serif border rounded-0" href="#">4</a></li>
              <li class="page-item me-2"><a class="page-link bg-bg-color fw-bold font-serif border rounded-0" href="#">5</a></li>
              <li class="page-item">
                <a class="page-link bg-bg-color border rounded-0" href="#" aria-label="Next">
                  <img src="../assets/images/arrow-left 1.png" alt="">
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
